body {
  font-family: 'Montserrat', sans-serif;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.473)),
  url(../imgs/pattern.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  
}

.form-box {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 405px;
  text-align: center;
  position: relative;
}

.form-box::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 8px;

  background: linear-gradient(
    to right,
    #43A047, 
    #9ae447,
    #2d9734
  );

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.text h3 {
  font-size: 26px;
  margin-bottom: 10px;
  color: black;
}

.text p {
  font-size: 14px;
  color:black;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover{
  border:1px solid #2a8a26;
}

.botao-cadastrar:hover, button:hover {
  background-color: #284b63;
}

.link-voltar {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.link-voltar:hover {
  text-decoration: underline;
}

.botao-cadastrar {
  width: 102%;
  background: linear-gradient(to bottom, rgb(95, 224, 95), rgb(44, 161, 44));
  color: white;
  border: none;
  padding:12px;
  margin-top: 20px; 
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.7s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.botao-cadastrar:hover{
  background: linear-gradient(to bottom right, rgb(96, 207, 96),  rgb(52, 207, 52));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-float {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #14532d;
  background: #ffffff;
  font-size: 26px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease, background 0.25s ease;
}

.menu-float:hover {
  background: rgba(199, 193, 193, 0.808);
  transform: scale(1.08);
}

.menu-float:active {
  transform: scale(0.95);
}

.info-itemG i {
  color: #14532d;
}
